Source: groupoffice-mailserver
Section: mail
Priority: extra
Maintainer: Merijn Schering <mschering@intermesh.nl> 
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2
Homepage: https://www.group-office.com

Package: groupoffice-mailserver
Architecture: all
Depends: 
  groupoffice (>=25.0),
  php-cli,
  postfix,
  postfix-mysql,
  dovecot-imapd (>=2.4.0),
  dovecot-mysql (>=2.4.0),
  dovecot-lmtpd (>=2.4.0),
  dovecot-sieve (>=2.4.0),
  dovecot-managesieved (>=2.4.0),
  dovecot-fts-xapian,
  opendkim,
  dnsutils,
  libopendbx1-mysql,
	${misc:Depends},
	${perl:Depends},
	dbconfig-common,
	ucf (>= 0.28)
Description: Group-Office Mail server
 Group-Office is a web based groupware and CRM application
 Take your office online. Share projects, calendars, files and e-mail online 
 with co-workers and clients. Easy to use and fully customizable, Group-Office 
 takes online collaboration to the next level.


